containers {
    display: flex;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    border-bottom: 1px solid black;
    padding-bottom: 20px;
    background-color: aliceblue;
}

/* Меню */

.menu {
    background-color: rgba(127, 255, 212, 0.544);
}

nav{
    border-bottom: 1px solid black;
}

.navig ol {
    list-style-type: none;
    padding-left: 0;
}

.element {
    display: inline-block;
}

.element a::after {
    display: inline-block;
    color: #1e3446ab;
    content: '|';
    font-size: 150%;
    font-weight: 500;
    padding: 0 30px;
}

.navig a{
    text-decoration: none;
    color: #1e3446ab;
    font-weight: 800;
}

.navig a:hover {
    color: #007bff;
    background-color: aliceblue;
}
/* Конец меню */